@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .difference {
    &__dates,
    &__selects {
      flex-direction: column;
    }

    &__dates-item,
    &__type,
    &__period {
      width: 100%;
    }

    &__presets {
      &-check {
        gap: 10px;

        &:has(input:checked) {
          .difference__presets-btn {
            margin-left: 0;
          }
        }
      }

      &-btn {
        margin-left: -10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
